:root {
  --lavender-web: #d8d8f6ff;
  --african-violet: #b18fcfff;
  --heliotrope-gray: #978897ff;
  --dark-liver: #494850ff;
  --raisin-black: #2c2c34ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Gluten", cursive;
  min-height: 100vh;
  background-color: var(--raisin-black);
}

.header {
  margin: 0px 50px;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin-bottom: 20px;
}

.snippets-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.snippet-card {
  position: relative;
  width: 16rem;
  border: 1px dashed var(--lavender-web);
  margin: 16px;
  height: 300px;
}

.snippet-title {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--lavender-web);
  background: var(--raisin-black);
}

/* Tablet properties */
@media screen and (max-width: 768px) and (min-width: 577px) {
  .snippets-container {
    justify-content: center;
  }

  .snippet-card {
    width: 18rem;
  }
}

/* Mobile properties */
@media screen and (max-width: 576px) {
  .snippets-container {
    justify-content: center;
  }

  .snippet-card {
    width: 100%;
  }
}
